body{
    font-family: Arial;
}
.column1 {
   
    flex: 50%;
    min-height: 100vh;
    padding: 10px;
}
.column2 {
    
    flex: 50%;
    min-height: 100vh;
    padding: 10px;
}
.flex-container{
    display: flex;
    width: 100%;
    padding: 0;
}